// text
.text-dark-teal {
    color: #014A59;
}
.text-teal {
    color: #2D7C76;
}
.text-tan {
    color: #BBA180;
}
.text-orange {
    color: #F17336;
}
.text-lightorange {
    color: #FEB568;
}

// sunset

.text-pink {
    color: #FF2B77;
}
.text-yellow {
    color: #FDE352;
}
.text-coral {
    color: #FF946D;
}
.text-peach {
    color: #FF7771;
}

// bg
.bg-black {
    background: #000000;
}
.bg-dark-teal {
    background: #014A59;
}
.bg-teal {
    background: #2D7C76;
}
.bg-tan {
    background: #BBA180;
}
.bg-orange {
    background: #F17336;
}
.bg-lightorange {
    background: #FEB568;
}