.min-h-100 {
  min-height: 100vh;
}

.min-h-50 {
  min-height: 50vh;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.center {
  left: 50%;
  transform: translate(-50%, 0);
}

.z--1 {
  z-index: -1;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}
